<!DOCTYPE html>

<html ng-app="mainModule" ng-controller="authCtrl" lang="en">




    <head>




        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Discovery Channel</title>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script src="js/app.js"></script>


        <!-- CSS -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

        <link rel="stylesheet" href="assets/css/form-elements.css">

        <link rel="stylesheet" href="/assets/css/style.css">




        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

        <!--[if lt IE 9]>

            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->




        <!-- Favicon and touch icons -->

        <link rel="shortcut icon" href="assets/ico/favicon.png">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">

        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">

        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">

        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

<style>
footer {
  margin-bottom: 0;
}
</style>


    </head>




    <body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Discovery Channel</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">New User
        <span class="caret"></span></a>
         <ul class="dropdown-menu">
          <li><a href="userregistration.html">Registration</a></li>
          <li><a href="#">services</a></li>
        </ul>
      </li>
      <li><a href="service_registration.html">Services Login</a></li> 
      <li><a href="userregistration.html">Help</a></li> 
    </ul>
  </div>
</nav>




        <!-- Top content -->

        <div class="top-content">

            <div class="container">

                    

                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2 text">

                        <h1>Discovery Channel</h1>

                        <div class="description">

                            <p>

                                 Bringing the Community Together... for YOU 




                                <br>




                                We are creating a centralized and up-to-date platform that allows those impacted by HIV (whether they are the patient, a parent, sibling or friend) can easily navigable site to find resources that will save their lives. 




                                <br>




                                 Visit Us!




                                <a href="http://www.redribbon.us/" target="_blank">Discovery Channel</a>

                                 

                            </p>

                        </div>

                    </div>

                </div>

                

                <div class="row">

                    <div class="col-sm-10 col-sm-offset-1 show-forms">

                        <span class="show-register-form active" ng-click="displayRegister()">Register</span> 

                        <span class="show-forms-divider">/</span> 

                        <span class="show-login-form" ng-click="displayLogin()">Login</span>

                    </div>

                </div>

                

                <div  class="row register-form">

                    <div class="col-sm-4 col-sm-offset-1">

                        <form ng-if="isRegisterClicked" role="form" action="" method="post" class="r-form">

                            <div  class="form-group">

                                <label class="sr-only" for="r-form-first-name">Email</label>

                                <input type="text" name="r-form-first-name" placeholder="Email..." class="r-form-first-name form-control" id="r-form-first-name" ng-model="userNameReg">

                            </div>

                            <div class="form-group">

                                <label class="sr-only" for="r-form-last-name">Password</label>

                                <input type="password" name="r-form-last-name" placeholder="Password" class="r-form-last-name form-control" id="r-form-last-name" ng-model="passwordReg">

                            </div>

                            <div class="form-group">

                                <label class="sr-only" for="r-form-email">Email</label>

                                <input type="password" name="r-form-email" placeholder="Retype Password" class="r-form-email form-control" id="r-form-email"  ng-model="retype">

                            </div>

                            <button type="button" class="btn" ng-click="registerUser()">Sign me up!</button>

                        </form>
						
						<form ng-if="!isRegisterClicked" role="form" action="" method="post" class="l-form">

                            <div class="form-group">

                                <label class="sr-only" for="l-form-username">Username</label>

                                <input type="text" name="l-form-username" placeholder="Username..." class="l-form-username form-control" id="l-form-username" ng-model="userName">

                            </div>

                            <div class="form-group">

                                <label class="sr-only" for="l-form-password">Password</label>

                                <input type="password" name="l-form-password" placeholder="Password..." class="l-form-password form-control" id="l-form-password" ng-model="password">

                            </div>

                            <button type="button" class="btn" ng-click="authenticateUser()">Sign in!</button>

                        </form>
                    </div>

                   

                <!--

                <div  ng-if="!isRegisterClicked"  style="display:block">

                    <div class="col-sm-4 col-sm-offset-1">

                        <form role="form" action="" method="post" class="l-form">

                            <div class="form-group">

                                <label class="sr-only" for="l-form-username">Username</label>

                                <input type="text" name="l-form-username" placeholder="Username..." class="l-form-username form-control" id="l-form-username" ng-model="userName">

                            </div>

                            <div class="form-group">

                                <label class="sr-only" for="l-form-password">Password</label>

                                <input type="password" name="l-form-password" placeholder="Password..." class="l-form-password form-control" id="l-form-password" ng-model="password">

                            </div>

                            <button type="button" class="btn" ng-click="authenticateUser()">Sign in!</button>

                        </form>

                        <div class="social-login">

                            <p>Or login with:</p>

                            <div class="social-login-buttons">

                                <a class="btn btn-link-1" href="#"><i class="fa fa-facebook"></i></a>

                                <a class="btn btn-link-1" href="#"><i class="fa fa-twitter"></i></a>

                                <a class="btn btn-link-1" href="#"><i class="fa fa-google-plus"></i></a>

                            </div>

                        </div>

                    </div>

                        

                        

                        

                      </div> -->

                    

            </div>

        </div>




        <!-- Footer -->

       <!-- <footer>

            <div class="container">

                <div class="row">

                    

                    <div class="col-sm-8 col-sm-offset-2">

                        <div class="footer-border"></div>

                        <p>Made by <a href="http://azmind.com" target="_blank">AZMIND</a>.</p>

                    </div>

                    

                </div>

            </div>

        </footer>-->




        <!-- Javascript -->

        <script src="assets/js/jquery-1.11.1.min.js"></script>

        <script src="assets/bootstrap/js/bootstrap.min.js"></script>

        <script src="assets/js/jquery.backstretch.min.js"></script>

        <script src="assets/js/scripts.js"></script>

        

        <!--[if lt IE 10]>

            <script src="assets/js/placeholder.js"></script>

        <![endif]-->




    </body>


 <footer>
        <p>&copy; Discovery Channel</p>
      </footer>

</html>


